.DS_Store
.DS_Store?
/venv
/clean_data.csv
/data/raw/admission.csv
/data/processed/X_train.csv
/data/processed/X_test.csv
/data/processed/y_train.csv
/data/processed/y_test.csv
/data/processed/X_train_scaled.csv
/data/processed/X_test_scaled.csv
*.egg-info/
/src/__pycache__